.features h3 {
	font-weight: bold;
	font-size: 1.25rem;
	color: var(--green);
}

.features p {
	margin: 1rem 0;
}

.features .content + .content {
	margin-top: 4rem;
}

.required-features li {
	margin-bottom: 3px;
}

.feature-demo + .feature-demo {
	margin-top: 1rem;
}

.state {
	margin-left: auto;
	margin-right: 0.5em;
	color: var(--yellow);
}

.state.on {
	color: var(--green);
}

.flip-state [disabled]+span {
	color: var(--unlighterer-grey);
}

.required-features li,
.feature-control {
	display: flex;
	align-items: center;
}

.chars {
	font-family: wakamai-fondue, monospace;
	font-size: 1.5rem;
	background: var(--light-grey);
	padding: 0.5rem;
	margin-top: 3px;
	overflow: hidden;
}

.no-chars {
	font-style: italic;
	color: var(--unlighterer-grey);
	background: var(--light-grey);
	padding: 0.5rem;
	margin-top: 3px;
	overflow: hidden;
}