.features p {
  margin: 1rem 0;
}

.features .content + .content {
  margin-top: 4rem;
}

.required-features li {
  margin-bottom: var(--small-margin);
}

.feature-demo + .feature-demo {
  margin-top: 1rem;
}

.state {
  margin-left: auto;
  margin-right: 0.5em;
  color: var(--yellow);
}

.state.on {
  color: var(--green);
}

.flip-state [disabled] + span {
  color: var(--unlighterer-grey);
}

.required-features li,
.feature-control {
  display: flex;
  align-items: center;
}

.chars {
  position: relative;
  font-family: var(--font-stack);
  font-size: 1.5rem;
  background: var(--light-grey);
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: var(--small-margin);
  overflow: hidden;
}

.chars[data-type]::before {
  content: attr(data-type);
  position: absolute;
  top: var(--small-margin);
  left: var(--small-margin);
  background: var(--unlighter-grey);
  font-feature-settings: normal !important;
  font-family: var(--system-font-stack);
  font-size: 0.75rem;
  padding: 0 4px 2px 4px;
  border-radius: 2px;
}

.chars.summarized::after {
  content: attr(data-summary);
  position: absolute;
  top: var(--small-margin);
  right: var(--small-margin);
  background: var(--unlighter-grey);
  font-feature-settings: normal !important;
  font-family: var(--system-font-stack);
  font-size: 0.75rem;
  padding: 0 4px 2px 4px;
  border-radius: 2px;
}

.no-chars {
  font-feature-settings: normal !important;
  font-family: var(--system-font-stack);
  font-style: italic;
  color: var(--unlighterer-grey);
  background: var(--light-grey);
  padding: 0.5rem;
  margin-top: var(--small-margin);
  overflow: hidden;
}

/*

Committing this as I would like to preserve this
for when a user can toggle between a Type 6 summary
and the raw backtrack/input/lookahead

.backtrack::before {
	content: "Before";
	display: inline-block;

	background: var(--unlighter-grey);
	font-feature-settings: normal !important;
	font-family: var(--system-font-stack);
	font-size: 0.75rem;
	padding: 0 4px 2px 4px;
	border-radius: 2px;
}

.input::before {
	content: "Input";
	display: inline-block;

	background: var(--unlighter-grey);
	font-feature-settings: normal !important;
	font-family: var(--system-font-stack);
	font-size: 0.75rem;
	padding: 0 4px 2px 4px;
	border-radius: 2px;
}

.lookahead::before {
	content: "After";
	display: inline-block;

	background: var(--unlighter-grey);
	font-feature-settings: normal !important;
	font-family: var(--system-font-stack);
	font-size: 0.75rem;
	padding: 0 4px 2px 4px;
	border-radius: 2px;
}

.divider {
	height: 1em;
	background: white;
	margin: 1em -1em;
}

*/
