.variable-sliders h3 {
	font-weight: bold;
	font-size: 1.25rem;
	color: var(--green);
	margin: 4rem 0 1rem 0;
}

.axis-slider {
	display: grid;
	align-items: center;
	grid-template-columns:
		auto
		8em
		4em
		1fr
		4em
		4em
		auto;
}

.axis-slider + .axis-slider {
	margin-top: 0.5em;
}

.axis-slider > * + * {
	margin-left: 0.5em;
}

.min {
	text-align: right;
}

.button {
	padding: 0.25rem 0.5rem;
	border-radius: 0.2rem;
    margin: 0;
    border: 0;
    background: none;
    font-size: 0.85rem;
    background: var(--green);
    color: white;
    cursor: pointer;
}

.axis-slider button.hide {
	opacity: 0;
	pointer-events: none;
}

.instances li {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
	grid-gap: 0.25rem;
}

.instances .button {
    background: var(--yellow);
}

.instances .button.active {
	background: var(--green);
}
