.css-output {
	position: relative;
}

.css-output p {
	margin-bottom: 1rem;
}

.css-output a {
	color: var(--red);
}

.css-button-container {
	position: sticky;
	display: flex;
	justify-content: center;
	top: 1rem;
	margin-bottom: 2rem;
	z-index: 1;
}

.code {
	position: relative;
}

/* TODO: componentalizationreuse */
.button {
	padding: 0.5em 1em;
	border-radius: 0.2rem;
	margin: 0;
	border: 0;
	background: none;
	font-size: 1.5rem;
	background: var(--red);
	color: var(--dark-grey);
	cursor: pointer;
	min-width: 4.75em;
	transition: background 100ms;
	user-select: none;
	color: white;
	margin-right: var(--small-margin);
}
