.css-output {
  position: relative;
}

.css-output p {
  margin-bottom: 1rem;
}

.css-output a {
  color: var(--red);
}

.css-button-container {
  position: sticky;
  display: flex;
  justify-content: center;
  top: 1rem;
  margin-bottom: 2rem;
  z-index: 1;
}

.css-button-container button {
  padding: 0.5em 1em;
  font-size: 1.5rem;
}

.code {
  position: relative;
}
