.summary h1 {
	font-family: wakamai-fondue, monospace;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2rem 0;
	margin: 0;
	font-size: 4rem;
}

.oneliner {
    text-align: center;
}

.details {
	margin-top: 2rem;
}

.details tr + tr {
	padding-top: var(--small-margin);
}

.details th {
	padding-top: var(--small-margin);
	padding-right: 1em;
	text-align: left;
	white-space: nowrap;
	text-transform: capitalize;
	vertical-align: top;
}

.details td {
	padding-top: var(--small-margin);
}

.features ul {
	display: flex;
	flex-wrap: wrap;
}

.features li {
	margin-top: var(--small-margin);
}

.example-font-shoutout {
	font-size: 1.25rem;
	margin-top: 2rem;
	padding: 2rem;
	background: var(--offwhite);
	text-align: center;
}

.example-font-shoutout a {
	color: inherit;
	color: var(--red);
}