.summary h1 {
	font-family: wakamai-fondue, monospace;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2rem 0;
	margin: 0;
	font-size: 4rem;
}

.oneliner {
    text-align: center;
}

.features,
.details {
	margin-top: 1em;
}

.details th {
	padding-right: 1em;
	color: var(--red);
}

.features ul {
	display: flex;
}

.features strong {
	color: var(--red);
}