.summary h1 {
	font-family: wakamai-fondue, monospace;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2rem 0;
	margin: 0;
	font-size: 4rem;
}

.oneliner {
    text-align: center;
}

.title {
	display: block;
	margin-top: 2rem;
	color: var(--red);
}

.details {
	margin-top: 2rem;
}

.details tr + tr {
	padding-top: 3px;
}

.details th {
	padding-top: 3px;
	padding-right: 1em;
	color: var(--red);
	text-align: left;
	white-space: nowrap;
	text-transform: capitalize;
	vertical-align: top;
}

.details td {
	padding-top: 3px;
}

.features ul {
	display: flex;
	flex-wrap: wrap;
}

.features li {
	margin-top: 3px;
}
