.tester-wrapper {
	background: var(--red);
	margin-top: 4rem;
	padding: 4rem 1rem;
	position: relative;
	overflow: hidden;
	color: white;
}

.tester-wrapper.light {
	background: white;
	color: black;
	box-shadow: 0 0 2rem rgba(0,0,0,.2)
}

.tester-wrapper::before {
	content: "Try me!";
	position: absolute;
	right: -5rem;
	top: 1.5rem;
	width: 15rem;
	padding: 0.75rem 0;
	transform: rotate(45deg);
	text-align: center;
	background: #d8b33d;
	color: #cd4e49;
	font-weight: bold;
}

.tester {
	font-family: wakamai-fondue, monospace;
	max-width: 68rem;
	margin: 0 auto 0 auto;
	padding: 0 1rem;
}

.code {
	margin-top: 2rem;
}

.light-switch {
	position: absolute;
	right: 1.5rem;
	bottom: 1.5rem;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 2.5rem;
	cursor: pointer;
}