.text-controls {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.text-controls label {
  display: flex;
  align-items: center;
}

.text-controls label > * {
  margin-left: var(--small-margin);
}

.font-size {
  display: flex;
  align-items: flex-start;
}

.font-size-slider {
  width: 100%;
}

.optical-size-link {
  font-size: 0.85rem;
}

/* TODO: componentalizationreuse */
.button {
  padding: 0.25rem 0.5rem;
  margin: 0;
  border: 0;
  background: none;
  font-size: 0.85rem;
  background: var(--unlighter-grey);
  color: var(--dark-grey);
  cursor: pointer;
  transition: background 100ms;
  user-select: none;
  min-width: 2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
}

.button:hover {
  background-color: var(--unlighterer-grey);
}

.active {
  background-color: var(--green);
}

.initial.active {
  background: var(--dark-grey);
  color: white;
}

.alignment-buttons {
  white-space: nowrap;
}

.button:first-child {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.button:last-child {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.left {
  background-image: url("@/assets/format_align_left-24px.svg");
}

.center {
  background-image: url("@/assets/format_align_center-24px.svg");
}

.right {
  background-image: url("@/assets/format_align_right-24px.svg");
}

.justify {
  background-image: url("@/assets/format_align_justify-24px.svg");
}
