.text-controls {
	margin: 2rem 0;
	display: flex;
	justify-content: space-between;
}

.text-controls label {
	display: flex;
	align-items: center;
}

.text-controls label > * {
	margin-left: var(--small-margin);
}

.font-size {
	display: flex;
	align-items: flex-start;
}

.font-size-slider {
	width: 100%;
}

.optical-size-link {
	font-size: 0.85rem;
}

.alignment-buttons {
	display: flex;
	align-items: flex-start;
}

.alignment-buttons .button {
	border-radius: 0;
}

.button.left,
.button.center,
.button.right,
.button.justify {
	display: grid;
	place-items: center;
	padding: 0.325rem;
	min-width: 2rem;
}

.alignment-buttons svg {
	width: 0.85rem;
	height: 0.85rem;
	fill: currentColor;
}

.alignment-buttons span {
	padding-top: 0.125rem;
	margin-right: var(--small-margin);
}

.alignment-buttons .button:first-of-type {
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
}

.alignment-buttons .button:last-of-type {
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}

/* TODO ROEL: this was injected after the Vite update, and I have
   no idea why my old CSS didn't contain them (anymore). To figure out! */
.left {
	background-image: url('@/assets/format_align_left-24px.svg');
}

.center {
	background-image: url('@/assets/format_align_center-24px.svg');
}

.right {
	background-image: url('@/assets/format_align_right-24px.svg');
}

.justify {
	background-image: url('@/assets/format_align_justify-24px.svg');
}
