.variable-sliders div + div {
	margin-top: 2rem;
}

.variable-sliders h3 {
	font-weight: bold;
	font-size: 1.25rem;
	color: var(--green);
	margin: 4rem 0 1rem 0;
}

.axis-slider {
	margin-bottom: 3px;
	display: grid;
	align-items: center;
	grid-template-columns:
		12em
		4em
		1fr
		4em
		4em
		auto;
}

.axis-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.axis-min {
	text-align: right;
}

/* TODO: componentalizationreuse */
.button {
	padding: 0.25rem 0.5rem;
	border-radius: 0.2rem;
	margin: 0;
	border: 0;
	background: none;
	font-size: 0.85rem;
	background: var(--green);
	color: black;
	cursor: pointer;
}

.axis-slider button.hide {
	opacity: 0;
	pointer-events: none;
}

.instances-list ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	grid-gap: 0.25rem;
}

.instance-button {
	width: 100%;
	background: var(--yellow);
	transition: background 400ms;
}

.instance-button.active {
	background: var(--green);
	color: white;
	transition: background 0s;
}

.instance-button .container {
	display: flex;
	align-items: center;
	text-align: left;
}

.instances-list .sample {
	flex: none;
	font-family: wakamai-fondue, monospace;
	font-size: 2.5em;
	margin-right: 0.5rem;
}

.instances-dropdown {
	display: flex;
}

.instances-dropdown-label {
	display: inline-block;
	width: 16em;
}

.variable-styles {
	/* Temporary code styles, will whip up a site-wide one */
	background: black;
	color: white;
	padding: 2em;
}
