.variable-sliders div + div {
	margin-top: 2rem;
}

.axis-slider-container {
	margin-bottom: var(--small-margin);
	display: grid;
	align-items: center;
	grid-template-columns:
		18em
		4em
		1fr
		4em
		4em
		auto;
}

.axis-slider-container label {
	cursor: pointer;
}

.disabled .axis-min,
.disabled .axis-max,
.disabled .axis-current {
	color: var(--unlighterer-grey);
}

.axis-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.axis-min {
	text-align: right;
}

.axis-slider {
	vertical-align: middle;
	padding: 0 0.5rem 0 0.25rem;
}

.axis-slider input {
	width: 100%;
}

/* TODO: componentalizationreuse */
.reset-button {
	padding: 0.25rem 0.5rem;
	border-radius: 0.2rem;
	margin: 0;
	border: 0;
	background: none;
	font-size: 0.85rem;
	background: var(--green);
	color: white;
	cursor: pointer;
}
.reset-button[disabled] {
	background: var(--unlighterer-grey);
}

.reset-button.hide {
	opacity: 0;
	pointer-events: none;
}

.instances-list ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	grid-gap: var(--small-margin);
}

.instance-button {
	padding: 0.25rem 0.5rem;
	border-radius: 0.2rem;
	margin: 0;
	border: 0;
	background: none;
	cursor: pointer;
	width: 100%;
	background: var(--yellow);
	color: black;
	transition: background 400ms;
}

.instance-button.active {
	background: var(--green);
	color: white;
	transition: background 0s;
}

.instance-button .container {
	display: flex;
	align-items: center;
	text-align: left;
}

.instances-list .sample {
	flex: none;
	font-family: var(--font-stack);
	font-size: 2.5em;
	margin-right: 0.5rem;
	min-width: 1.5em;
}

.instances-dropdown {
	display: flex;
}

.instances-dropdown-label {
	margin-right: var(--small-margin);
}

/* TODO: componentalizationreuse */
.button-on,
.button-off {
	padding: 0.25rem 0.5rem;
	border-radius: 0.2rem;
	margin: 0;
	border: 0;
	background: none;
	font-size: 0.85rem;
	background: var(--unlighter-grey);
	color: var(--dark-grey);
	cursor: pointer;
	min-width: 4.75em;
	transition: background 100ms;
	user-select: none;
	color: white;
	margin-right: var(--small-margin);
}

.button-on {
	background: var(--green);
}

.button-off {
	background: var(--red);
}