.modal {
	background: var(--green);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10; /* Must be above filedropper */
	display: flex;
    overflow: auto;
    z-index: 30;
}

.modal-content {
    max-width: 36rem;
    margin: auto;
    padding: 1rem;
    color: white;
}

.modal-content h2 {
    font-size: 4rem;
    margin: 0 0 0.75rem 0;
    line-height: 1;
    text-align: center;
}

.modal-content p {
    margin-bottom: 1.5rem;
    line-height: 1.45;
}

.modal-content a {
    color: inherit;
}

.modal-content .version {
    opacity: 0.5;
    text-align: center;
}

.modal-content hr {
    opacity: 0.25;
    border-style: dashed;
    margin: 1.5rem -1.5rem;
}

.logo-link {
	margin: 0 auto;
	display: block;
	width: 12rem;
	height: 5.5rem;
	background: white;
	mask-image: url("../img/pixelambacht.svg");
	mask-position: center;
	mask-repeat: no-repeat;
}

.info {
	position: fixed;
	z-index: 100;
	right: 1.5vw;
	top: 1.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border: 0;
	outline: 0;
	background: var(--offwhite);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 32'%3E%3Cpath fill='%23cd4e49' d='M8.4 14.4c-.7-.6-1.6-1.2-2.6-1.8-1.1-.6-2.2-1.2-3.4-1.8-.9-.5-1.5-.9-1.9-1.2-.3-.4-.5-.9-.5-1.5 0-.3.1-.6.2-.9.2-.3.4-.6.8-1 .8-.6 1.3-1.2 1.7-1.7.3-.6.9-.8 1.5-.8s1.1.3 1.5.7c.5.5.9 1.1 1.3 1.8 1.5 2.4 2.6 4.1 3.3 5.2s1.4 1.6 2.2 1.6 1.4-.5 2.2-1.6 1.8-2.8 3.3-5.2c.4-.7.8-1.3 1.3-1.8s1-.7 1.5-.7c.7 0 1.2.3 1.6.8.4.5.9 1.1 1.6 1.8.4.4.7.7.8 1 .1.2.2.5.2.8 0 .6-.2 1.1-.5 1.4-.4.3-1 .7-1.9 1.2-1.2.6-2.3 1.2-3.4 1.8-1.1.6-2 1.2-2.6 1.8-.7.6-1 1.1-1 1.6s.3 1.1 1 1.6c.7.6 1.6 1.2 2.6 1.8 1.1.6 2.2 1.2 3.4 1.8.9.5 1.5.9 1.9 1.2.4.3.5.8.5 1.4 0 .3-.1.6-.2.9-.2.3-.4.6-.8 1-.7.7-1.3 1.3-1.6 1.8-.4.5-.9.8-1.6.8-.6 0-1.1-.2-1.5-.7-.5-.5-.9-1.1-1.3-1.8-1.5-2.4-2.6-4.1-3.3-5.2-.7-1.1-1.4-1.6-2.2-1.6s-1.4.5-2.2 1.6c-.7 1.1-1.8 2.8-3.3 5.2-.4.7-.8 1.3-1.3 1.8s-1 .7-1.5.7c-.7 0-1.2-.3-1.6-.8-.4-.5-.9-1.1-1.6-1.8-.4-.4-.7-.7-.8-1-.1-.1-.2-.4-.2-.7 0-.6.2-1.1.5-1.4.4-.3 1-.7 1.9-1.2 1.2-.6 2.3-1.2 3.4-1.8 1.1-.6 2-1.2 2.6-1.8.7-.6 1-1.1 1-1.6.1-.6-.3-1.2-1-1.7z'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 45%;
	cursor: pointer;
}
