:root {
	--yellow: #d8b33d;
	--green: #5f8e5d;
	--red: #cd4e49;
}

html {
	box-sizing: border-box;
	min-height: 320px;
	min-width: 320px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

table {
	font-family: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	font-family: inherit;
}

/* Some global styles */
.opentype-label {
	display: inline-block;
	padding: 0.25rem 0.5rem;
	margin: 0.25rem 0.25rem 0 0;
	border-radius: 0.2rem;
	font-family: monospace;
	background: var(--red);
	color: white;
}
